{% block content %}
<style type="text/css">
	body,
	html {
		height: 100%;
	}

	/* remove outer padding */

	.main .row {
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar,
	.main {
		-webkit-transition: margin 200ms ease-out;
		-moz-transition: margin 200ms ease-out;
		-o-transition: margin 200ms ease-out;
		transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/

	.main {
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/

	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main {
			position: absolute;
			width: calc(100% - 40px);
			/*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover+.main {
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand,
		.navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand,
		nav.sidebar .navbar-header {
			text-align: center;
			width: 100%;
			margin-left: 0px;
			margin-bottom: 5px;
		}

		/*Center Icons*/
		nav.sidebar a {
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav>li:first-child {
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav>li {
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse,
		nav.sidebar .container-fluid {
			padding: 0 0px 0 0px;

		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar {
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover {
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate {
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main {
			width: calc(100% - 200px);
			/*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar {
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate {
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate {
		opacity: 1;
	}

	section {
		padding-left: 15px;
	}

	.container>.navbar-header,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container-fluid>.navbar-collapse {
		margin-bottom: 5px;
	}

	.navbar-toggle {
		margin-top: 10px;
	}
</style>

<nav class="navbar navbar-inverse sidebar" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% load staticfiles %}
			<a class="navbar-brand" href='{% url "home" %}'>
				<img src="{% static 'homepage/img/face.png' %}" class="responsive-img" style='max-height:30px;' alt="face">Bartosz Cholewa</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if request.get_full_path == "/" %}
				<li class="active">{% else %}
					<li>{% endif %}
						<a href='{% url "home" %}'>Home
							<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
						</a>
					</li>
					{% if "/blog/" in request.get_full_path %}
					<li class="active">{% else %}
						<li>{% endif %}
							<a href='{% url "blog" %}'>Blog
								<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
							</a>
						</li>
						<li class="dropdown">
							<a href='{% url "obiegi:list" %}' class="dropdown-toggle" data-toggle="dropdown">PW Obiegi
								<span class="caret"></span>
								<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
							</a>
							<ul class="dropdown-menu forAnimate" role="menu">
								<li>
									<a href='/urlfiller/'>Url Filler</a>
								</li>
								<li>
									<a href='{% url "obiegi:list" %}'>Lista obiegów</a>
								</li>
								<li>
									<a href='{% url "obiegi:dodaj" %}'>Dodaj Obieg</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href='{% url "obiegi:dodaj-normalny" %}'>- Normalny</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href='{% url "obiegi:dodaj-pozasystemowy" %}'>- Pozasystemowy</a>
								</li>
							</ul>
						</li>
						{% if "/contact/" in request.get_full_path %}
						<li class="active">{% else %}
							<li>{% endif %}
								<a href='{% url "contact" %}'>Contact
									<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>
								</a>
							</li>
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">TODO
									<span class="caret"></span>
									<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
								</a>
								<ul class="dropdown-menu forAnimate" role="menu">
									<font color="white" face="verdana" size=1>
										<p>Autoincrement</p>
										<p>- Autoincrement Obieg_name from last record when adding</p>
										<p>- Add in settings option to disable autoincrement</p>
										<p>- Add info near obieg_name field about active autoincrement</p>
										<p>2. Multiproduct orders</p>
										<p>- Add "+" in order form to create next product</p>
										<p>- If order is multiproduct, autochange order status to multiproduct</p>
										<p>- Create view for mutliproduct orders</p>
										<p>- Add Letter to order name, for example: PW-000233A</p>
										<p>3. Login, register, logout</p>
										<p>- when added order, handlowiec==user_id</p>
										<p>- disable listbox handlowiec</p>
										<p>- create some rights for editing created orders</p>
										<p>4. Create order categories: normalny, pozasystemowy</p>
										<p>5. Add "zakładka, bryty" to order form view.</p>
										<p>6. Try to implement bootstrap4 if its effective</p>
										<p>7. Check if you can gather some informations from "podgląd link" that can autofill some form boxes</p>
									</font>
								</ul>
		</div>
	</div>
</nav>

<script>
	window.alert = function () { };
	var defaultCSS = document.getElementById('bootstrap-css');
	function changeCSS(css) {
		if (css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="' + css + '" type="text/css" />');
		else $('head > link').filter(':first').replaceWith(defaultCSS);
	}
	$(document).ready(function () {
		var iframe_height = parseInt($('html').height());
		window.parent.postMessage(iframe_height, 'http://nauka-bbcholewa.c9users.io');
	});

	function htmlbodyHeightUpdate() {
		var height3 = $(window).height()
		var height1 = $('.nav').height() + 50
		height2 = $('.main').height()
		if (height2 > height3) {
			$('html').height(Math.max(height1, height3, height2) + 10);
			$('body').height(Math.max(height1, height3, height2) + 10);
		}
		else {
			$('html').height(Math.max(height1, height3, height2));
			$('body').height(Math.max(height1, height3, height2));
		}

	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$(window).resize(function () {
			htmlbodyHeightUpdate()
		});
		$(window).scroll(function () {
			height2 = $('.main').height()
			htmlbodyHeightUpdate()
		});
	});
</script> {% endblock %}